header {
  position: static;
}

h3 {
  font-size: 18px;
}

.hide {
  position: fixed;
  display: block;
  transform: translateY(-100%);
  transition: transform 1s;
  margin-block: 0;
  height: 100vh;
  width: 99%;
  left: 0;
  padding: 10%;
  text-align: start;
  font-size: 32px;
  color: #fff;
  background-color: #6070ff;
  opacity: 0.9;
}

.hide > li:nth-child(1) > a,
.hide > li:nth-child(2) > a,
.hide > li:nth-child(3) > a {
  color: #fff;
}

.showHide {
  transform: translateY(0);
}

.hide li {
  margin-top: 30px;
}

.menbtn {
  display: block;
  position: fixed;
  right: 0;
  margin-top: 0;
  border: none;
  background: none;
  z-index: 100;
}

.hamb {
  display: block;
}

.close {
  display: none;
  color: #fff;
}

#main-section {
  margin: 39% 7%;
}

h1 {
  font-size: 40px;
  line-height: 52px;
}

p {
  font-size: 16px;
  line-height: 24px;
}

.card {
  grid-template-columns: 1fr;
  width: 87.2%;
  border-radius: 16px;
}

.reverse {
  order: 0;
}

div {
  padding: 0;
}

h2 {
  font-size: 32px;
  line-height: 44px;
  margin-top: -6.4%;
}

.cardtxt {
  font-size: 15px;
  margin: auto;
}

.work li {
  font-size: 13px;
  line-height: 16px;
  margin-top: -2%;
}

.hideelem :nth-child(2) {
  display: none;
}

#hand {
  background-image: none;
}

.aboutme {
  grid-template-columns: 340px;
  border-top-right-radius: 70px 70px;
}

.abouttxt {
  padding-left: 0;
  grid-column: auto;
  width: 89%;
  margin-bottom: 0;
  margin-left: 24px;
}

.abouttxt :nth-child(3) {
  margin-bottom: 0;
}

#abtitle {
  margin-top: 20%;
}

#aboutarttxt {
  margin: 12px 0;
}

#aboutlang {
  grid-row: 2;
  grid-column: auto;
  margin-left: 24px;
}

h6 {
  margin-block: 15px;
}

#langcolon {
  flex-direction: column;
}

.langicons {
  padding: 25px 0 5px 64px;
  margin-top: 2%;
  width: 81%;
  background-position: 3%;
  text-align: left;
}

#js {
  padding-left: 64px;
}

footer {
  background-image: url(../images/contact.png);
  background-position: 86% 12%;
  background-size: contain;
  border-top-right-radius: 70px 70px;
}

.contact {
  align-items: flex-start;
}

h5 {
  margin-top: 29.5%;
  text-align: center;
  width: 100%;
}

#conttext {
  width: 85%;
  margin: 3%;
  padding: 12px;
}

.input {
  width: 79%;
  border-radius: 8px;
}
