body {
  background: #e5e5e5;
  font-family: "Poppins", sans-serif;
}

.title-row {
  display: flex;
  height: 10vh;
  background-color: #fff;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;
  align-items: center;
}

.header_content {
  flex: 1;
  color: #6070ff;
  align-items: center;
  padding: 20px;
}

#logo {
  font-weight: bold;
  font-size: 18px;
}

#nav {
  font-size: 30px;
  font-weight: bold;
  text-align: right;
  padding: 15px;
}

.main-section {
  display: flex;
  height: 90vh;
  border-bottom-left-radius: 50px 50px;
  background-image: url(../images/header-shapes.png);
  background-color: #fff;
  align-items: center;
}

.firstpage {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.welcome {
  margin: 6px;
  width: 80%;
}

@media only screen and (max-width: 640px) {
  .welcome {
    width: 95%;
  }

  h4 {
    width: 95%;
  }

  #greeting {
    width: 95%;
  }
}

#welc_title {
  font-size: 48px;
  color: #172b4d;
  line-height: 130%;
  font-weight: bold;
  margin: 6px;
}

#welc_artic {
  font-size: 16px;
  color: #344563;
  line-height: 125%;
  margin: 6px;
}

h4 {
  color: #172b4d;
  margin: 6px;
  padding: 18px;
}

#greeting {
  display: flex;
  margin: 6px;
}

li {
  list-style: none;
  padding-left: 15px;
}

a:visited {
  color: #6070ff;
}

:any-link {
  text-decoration: none;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  grid-template-rows: repeat(2, 360px);
  background-color: #fff;
  border-radius: 24px;
  margin-top: 100px;
}

.picture {
  max-height: 220px;
  grid-row: span 2;
  display: flex;
  margin-inline: 10px;
}

.works {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  grid-row: span 2;
  padding-bottom: 30px;
}

@media only screen and (max-width: 630px) {
  .card {
    grid-template-columns: 360px;
    grid-template-rows: repeat(2, 1fr);
  }
}

h2 {
  margin-block: 2px;
  padding: 12px;
  font-size: 40px;
}

ul {
  font-weight: bold;
  display: flex;
  margin-block: 2px;
  padding-inline-start: 0;
}

.cover :first-child {
  padding-right: 15px;
}

.cover :nth-last-child(-n+2) {
  color: #7a869a;
  list-style: disc;
  flex: 1;
  padding-left: 0;
  margin-left: 20px;
}

article {
  padding: 12px;
}

p {
  margin-block: 2px;
  font-size: 15px;
}

.text {
  width: 85%;
}

.buttn {
  padding-inline-start: 12px;
}

.lngbtn {
  color: #6070ff;
  background-color: #ebebff;
  border-radius: 8px;
  text-align: center;
  padding: 4px;
  margin-right: 8px;
  padding-left: 12px;
  padding-right: 12px;
}

.prLnk {
  color: #396df2;
  margin-left: 10px;
  margin-top: 12px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  text-align: center;
  padding: 12px;
  font-weight: 500;
  width: 124px;
}

.about {
  display: grid;
  background-color: #fff;
  width: 107%;
  margin-top: 40px;
  border-top-right-radius: 50px 50px;
  margin-inline-start: -6px;
}

.aboutdescr {
  display: flex;
  flex-direction: column;
}

#abh2 {
  padding-left: 0;
  line-height: 52px;
}

.textab {
  width: 75%;
}

#footconect {
  padding-left: 6px;
}

.skills {
  flex-direction: column;
}

.sklist {
  padding-top: 12px;
  padding-bottom: 12px;
  width: 75%;
  border-bottom: 1px solid #dfe1e6;
}

.skills :first-child {
  border-bottom: unset;
}

.lngnames {
  flex-direction: column;
}

.lngslid {
  width: 50%;
  background-color: #f7f7f9;
  padding: 12px;
  padding-left: 65px;
  margin: 4px;
  margin-inline-start: 12px;
  border-radius: 5px;
}

#js {
  background-image: url(../images/JS.png);
  background-repeat: no-repeat;
}

#hm {
  background-image: url(../images/HTML.png);
  background-repeat: no-repeat;
}

#cs {
  background-image: url(../images/CSS.png);
  background-repeat: no-repeat;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #6070ff;
  background-image: url(../images/contact.png);
  border-top-left-radius: 50px 50px;
  width: 100%;
  padding-bottom: 45px;
}

#cont {
  color: #fff;
  width: 75%;
}

#conttext {
  color: #fff;
}

.input {
  border-radius: 8px;
  width: 74%;
  padding: 12px;
  margin-left: 6px;
}

#getIt {
  color: #396df2;
  margin-left: 10px;
  margin-top: 12px;
  border-radius: 8px;
  text-align: center;
  padding: 12px;
  font-weight: 500;
  width: 124px;
  background-color: #fff;
}
